<div class="slide" back-img="{{ backgroundImgUrl() }}" tabindex="0" ui-keydown="{37:'keypressCallback($event)', 39:'keypressCallback($event)'}">
  <h1>{{ currentCard.name }}</h1>
  <md ng-model="currentCard.desc"></md>
</div>
