
<div class="container">
	<form>
		<div class="form-group">
			<h1>Update to get appkey from Trello by code, for easier usage of entire app</h1>
			<label for="appkey">Appkey</label><br/>
			<input id="appkey" class="form-control" type="text" ng-model="appKey" />
			<br/>
			<label for="readonlytoken">ReadOnly Token</label><br/>
			<input id="readonlytoken" class="form-control" type="text" ng-model="readOnlyToken" />
			<br/>
			<label for="backgroundImageUrl">Slide Background Image Url</label><br/>
			<input id="backgroundImageUrl" class="form-control" type="text" ng-model="userSettings.backgroundImageUrl" />
			<br/>
			<br/>
			<button class="btn btn-success" ng-click="setTrelloStuff()">Go to boards >> </button>
		</div>
	</form>
</div>