$slide-padding: 25px;
$slide-font-size: 80;
$slide-color: #dddddd;
$slide-bg: #dddddd;
$slide-heading-color: #000000;
$slide-text-color: #000000;

.slide {
  width: 90%;
  height: 85vh;
  margin: 25px;
  padding: $slide-padding;
  margin-bottom: $slide-padding;
  font-size: $slide-font-size;
  font-weight: 200;
  line-height: ($line-height-base * 1.5);
  color: $slide-color;
  background-color: $slide-bg;
  background-size: cover;

  h1 {
    line-height: 1;
    color: $slide-heading-color;
    text-align: left;
    font-size: $slide-font-size;
  }
  p {
    line-height: 1.4;
    color: $slide-text-color;
  }
  li {
    color: $slide-text-color;
    font-size: $slide-font-size;
  }
  .container & {
    border-radius: $border-radius-large; // Only round corners at higher resolutions if contained in a container
  }

  @media screen and (min-width: $screen-sm-min) {
    padding-top:    ($slide-padding * 1.6);
    padding-bottom: ($slide-padding * 1.6);

    .container & {
      padding-left:  ($slide-padding * 2);
      padding-right: ($slide-padding * 2);
    }

    h1 {
      font-size: ($font-size-base * 4.5);
    }
  }
}

